#app {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  top: 0;
  /* Note the dependencies between #blockly left and #app width.
  /* Resizable might be nice sometime. */
  width: 340px;
}

#app > * {
  margin: 10px;
}

#blockly {
  /* Bring in the bottom and right a little. Blockly is overshooting. */
  bottom: 2px;
  left: 340px;
  /* I'm not sure I like this fixed, but it's the easiest I've had getting
  /* things working right now. */
  position: fixed;
  top: 0;
  right: 2px;
}

#console {
  border: 1px solid #CCCCCC;
  min-height: 8em;
  overflow: auto;
  white-space: nowrap;
}

#controls > * {
  margin-right: 1em;
}

#controls > *:last-child {
  margin: 0;
}

#files {
  position: fixed;
  right: 1em;
  top: 0;
}

#files > * {
  margin-right: 1em;
  text-decoration: none;
}

.log-count {
  background: #CCCCCC;
  color: white;
  margin-right: 5px;
  padding: 0 2px;
}
